<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmps121.rideplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rpe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rpe_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreatingGroups"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <<<<<<< HEAD -->

        <activity
            android:name=".EditProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".eventDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewAllCars"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".yourCar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".finalCarScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- ======= -->
        <!-- &gt;>>>>>> dev -->
        <activity
            android:name=".JoiningGroups"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewGroups"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GroupPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateEventPopUp"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ViewEvents"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventPage"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ViewMembers"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>